@import "../../../assets/styles/tools/mixins";
@import "../../../assets/styles/settings/vars";
@import "../../../assets/styles/settings/fonts";
@import "../../../assets/styles/settings/spacing";

.video-player {
	position: relative;
	height: 100%;
	aspect-ratio: 16/9;

	// clip-path: inset(1.5% 0 1.5% 0% round 10px);

	&__placeholder {
		@include position-center;

		z-index: 9;
		width: 100%;
		height: 100%;
	}

	iframe {
		width: 100%;
		height: 100%;
	}
}
