@import "../../../../assets/styles/tools/mixins";
@import "../../../../assets/styles/settings/vars";
@import "../../../../assets/styles/settings/spacing";

.contact-person {
	&__img {
		width: 11.4rem;
		height: 11.4rem;
		border-radius: 0.4rem;
	}

	a::after {
		background-color: $color-blue-regal;
	}
}

@include viewport-medium {
	.contact-person {
		flex-direction: column;
	}
}
