@import "../../../assets/styles/settings/vars";
@import "../../../assets/styles/tools/mixins";

.simple-modal-wrapper {
	display: inline-flex;
}

.open-info-modal {
	display: inline;
	width: 1.6rem;
	height: 1.6rem;
	padding: 0;
	cursor: pointer;

	svg {
		width: 100%;
		height: 100%;
		fill: $color-blue-shark-tint--80;
	}
}
