/* stylelint-disable unit-no-unknown */
@import "../../../../assets/styles/tools/mixins";
@import "../../../../assets/styles/settings/vars";
@import "../../../../assets/styles/settings/fonts";
@import "../../../../assets/styles/settings/spacing";

// article

.article {
	position: relative;
	height: 100%;
	margin-bottom: spacing(component, 2l);
	padding-bottom: spacing(component, 2l);
	color: $color-black;
	cursor: pointer;
	transition: box-shadow $transition;

	&__img {
		transform: scale(1);
		transition: $transition;
	}

	&__figure {
		// custom spacing
		margin-bottom: 1.1rem;
		overflow: hidden;
	}

	&__tagline {
		margin-bottom: calc(spacing(component, xxs) / 2);
	}

	&__icon {
		position: absolute;
		right: 1.2rem;
		bottom: 1.2rem;
		width: 1.4rem;
		height: 1.4rem;
		opacity: 0;
		fill: $color-blue-regal;
		transform: translateX(-1rem);
		transition: opacity $transition, transform $transition;
		will-change: opacity, transform;
	}
}

@include viewport-medium {
	.article {
		margin-bottom: spacing(component, xxs);
	}
}

@include viewport-mouse {
	.article:hover {
		box-shadow: 0 1.5rem 1.5rem 0 $color-blue-shark-tint--10;
		transition: box-shadow $transition;

		.article__icon {
			opacity: 1;
			transform: translateX(0);
			transition: opacity $transition, transform $transition;
		}
	}
}
