@use "sass:math";
@use "sass:color";

@function strip-unit($value) {
	@return math.div($value, ($value * 0 + 1));
}

@function px-to-vw($size) {
	@return #{math.div(100 * strip-unit($size), 1440)}vw;
}

@function rem-to-vw($size) {
	@return #{10 * math.div(100 * strip-unit($size), 1440)}vw;
}

@mixin set-gutter($gutter) {
	.row {
		margin-right: -$gutter;
		margin-left: -$gutter;
	}

	*[class*="col-"] {
		padding-right: $gutter;
		padding-left: $gutter;
	}
}

@function get-color($color, $percent) {
	@if $percent == 100 {
		@return $color;
	} @else if $percent > 100 {
		$formattedPercent: $percent - 100 + 0%;
		@return mix(black, $color, $formattedPercent);
	} @else if $percent < 100 {
		$formattedPercent: 100 - $percent + 0%;
		@return mix(white, $color, $formattedPercent);
	}
}
