@use "sass:math";

@mixin set-grid-size($contentWidthSize, $gutterSize, $times: 1) {
	width: 100%;
	min-width: $grid-min-width;
	max-width: $contentWidthSize;
	margin: 0 auto;
	padding-right: $gutterSize * $times;
	padding-left: $gutterSize * $times;
}

// layout - full hd
@mixin grid {
	@include set-grid-size($grid-max-width-full-hd, $gutter-full-hd);
}

// layout - 1440
@mixin grid-1440 {
	@include set-grid-size($grid-max-width, $gutter-default);
}

// layout - mobile
@mixin grid-mobile {
	@include set-grid-size(100vw, $gutter-mobile, 2);

	overflow: hidden;
}

@mixin position-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin position-center-y {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@mixin position-center-x {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

@mixin text-gradient {
	background: linear-gradient(209.44deg, $color-blue-dodger 0%, $color-blue-regal 100%);
	background-clip: text;
	color: transparent;
}

// Hides element visually, but doesn't hide it for screen readers
@mixin visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;
}

@mixin default-focus {
	outline: 1px solid $color-blue-dodger;
}

// Reset all default styling
@mixin unset-all {
	all: unset;
}

// -------- Media queries -------//
// estra small phones
@mixin viewport-extra-small {
	// max-width: 350px
	@media only screen and (max-width: $viewport-extra-small) {
		@content;
	}
}

// phones
@mixin viewport-small {
	// max-width: 576
	@media only screen and (max-width: $viewport-small) {
		@content;
	}
}

// bootstraps breaking point for tablet
@mixin viewport-tablet {
	@media only screen and (max-width: 768px) {
		@content;
	}
}

// tablet vertical down to phone
@mixin viewport-medium {
	// max-width: 992
	@media only screen and (max-width: $viewport-medium) {
		@content;
	}
}

// tablet horizontal and down to phone
@mixin viewport-large {
	// max-width: 1025
	@media only screen and (max-width: $viewport-large) {
		@content;
	}
}

// desktop
@mixin viewport-extra-large {
	// max-width: 1440
	@media only screen and (max-width: $viewport-extra-large) {
		@content;
	}
}

// xl screens
@mixin viewport-max {
	// min-width: 1920px
	@media only screen and (min-width: $viewport-max) {
		@content;
	}
}

// custom viewport - max
@mixin viewport-custom-max($viewport-size) {
	@media only screen and (max-width: $viewport-size) {
		@content;
	}
}

// custom viewport - min
@mixin viewport-custom-min($viewport-size) {
	@media only screen and (min-width: $viewport-size) {
		@content;
	}
}

// only mouse interactions
@mixin viewport-mouse {
	@media (hover: hover) and (pointer: fine) {
		@content;
	}
}

@mixin viewport-device {
	@media (hover: none) {
		@content;
	}
}

// Bootsrap row mixins
@mixin row {
	--bs-gutter-x: 2rem;
	--bs-gutter-y: 0;

	display: flex;
	margin-top: calc(var(--bs-gutter-y) * -1);
	margin-right: calc(var(--bs-gutter-x) * -0.5);
	margin-left: calc(var(--bs-gutter-x) * -0.5);
	flex-wrap: wrap;
}

// Bootsrap col mixins
@mixin flex {
	max-width: 100%;
	margin-top: var(--bs-gutter-y);
	padding-right: calc(var(--bs-gutter-x) * 0.5);
	padding-left: calc(var(--bs-gutter-x) * 0.5);
	flex: 0 0 auto;
}

@mixin col-3 {
	width: 25%;
	@include flex;
}

@mixin col-4 {
	width: 33.3333%;
	@include flex;
}

@mixin col-6 {
	width: 50%;
	@include flex;
}

@mixin col-9 {
	width: 75%;
	@include flex;
}

@mixin scrollbar {
	/* ===== Scrollbar CSS ===== */

	/* Firefox */
	& {
		scrollbar-width: auto;
		scrollbar-color: #004878 #fff;
	}

	/* Chrome, Edge, and Safari */
	&::-webkit-scrollbar {
		width: 10px;
	}

	&::-webkit-scrollbar-track {
		background: #fff;
	}

	&::-webkit-scrollbar-thumb {
		border: 3px solid #fff;
		border-radius: 10px;
		background-color: #004878;
	}
}
