@import "/assets/styles/settings/vars";
@import "/assets/styles/tools/mixins";

.category-item {
	width: 100%;
	height: 11.2rem;
	margin: 0;
	border: 1.2px solid $color-gray-mischka;
	border-radius: $border-radius-small;
	background-color: $color-gray-mischka-tint--10;
	cursor: pointer;
	transition: $transition--extra-fast;
	transition-property: border, background-color, box-shadow;

	&__content-wrap {
		height: 100%;
	}

	&__image-wrapper {
		height: 4.4rem;
	}

	img {
		object-fit: contain;
	}

	.has-text & {
		&__image-wrapper {
			height: 3.4rem;
		}
	}
}

@include viewport-mouse {
	.category-item {
		transition: all $transition--fast;
		will-change: background-color, box-shadow;

		&:hover {
			border: transparent;
			background-color: $color-white;
			box-shadow: $shadow-card-small;
		}
	}
}
