/* stylelint-disable unit-no-unknown */
@import "../../../assets/styles/tools/mixins";
@import "../../../assets/styles/settings/vars";
@import "../../../assets/styles/settings/spacing";

.cta-banner {
	padding: spacing(layout, 2l) spacing(layout, 2xl) spacing(layout, 3l) spacing(layout, 2xl);
	opacity: 0;
	background-color: $color-gray-mischka-tint--30;
	text-align: center;
	transform: translateY(4rem);
	transition: transform $transition--fast, opacity $transition--fast;

	&__text {
		p {
			margin-top: 0;
			color: $color-blue-shark-tint--80;
		}

		p:last-of-type {
			margin-bottom: 0;
		}

		b {
			color: $color-blue-shark;
		}
	}

	&.animation-active {
		opacity: 1;
		transform: translateY(0);
	}
}

@include viewport-medium {
	.cta-banner {
		.btn-primary {
			font-size: clamp(1.4rem, rem-to-vw(1.4rem), 1.4rem);
			line-height: clamp(2rem, rem-to-vw(2rem), 2rem);
		}
	}
}

@include viewport-tablet {
	.cta-banner {
		padding: spacing(component, l) spacing(component, l) spacing(component, 2l) spacing(component, l);

		.btn-primary {
			width: 100%;
		}
	}
}
