@import "../../../assets/styles/tools/mixins";
@import "../../../assets/styles/settings/vars";
@import "../../../assets/styles/settings/fonts";
@import "../../../assets/styles/settings/spacing";

.advantages {
	opacity: 0;
	transform: translateY(3rem);
	transition: $transition--fast;

	&__single-advantage {
		color: $color-blue-shark;
	}

	&__single-advantage:last-child {
		margin-bottom: 0;
	}

	&__icon {
		width: 3rem;
		height: 3rem;
		fill: $color-blue-shark;
	}

	&.animation-active {
		opacity: 1;
		transform: translateY(0);
		transition: $transition--fast;
	}
}

@include viewport-medium {
	.advantages {
		flex-direction: column-reverse;
	}
}
