/* stylelint-disable unit-no-unknown */
@import "../../../assets/styles/settings/vars";
@import "../../../assets/styles/tools/mixins";
@import "../../../assets/styles/tools/helping-functions";
@import "../../../assets/styles/settings/spacing";

.focus-box {
	&__text {
		margin-bottom: spacing(component, 4l);
	}

	&__buttons-wrapper {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	&.is-hero .focus-box__text {
		margin-bottom: spacing(component, 2l);
	}
}

.is-absolute {
	position: absolute;
	bottom: 6rem;
	left: 6rem;
	padding: spacing(component, 3l) spacing(component, 3l) spacing(component, 4l) spacing(component, 3l);
	background-color: $color-white;
}

.is-small {
	width: 48rem;
}

.is-large {
	width: 53.5rem;
}

@include viewport-medium {
	.focus-box {
		&__buttons-wrapper {
			width: 100%;
			flex-direction: column;

			a,
			button {
				width: calc(100% - 1.6rem);
				margin-right: 0;
				justify-content: center;
			}

			.btn-primary {
				margin-bottom: spacing(component, 3l);
			}
		}

		&__text {
			margin-bottom: spacing(component, 4l);
		}
	}

	.is-absolute {
		position: relative;
		top: -4rem;
		bottom: unset;
		left: unset;
		width: 100%;
		max-width: unset;
		padding: spacing(component, xs);
	}
}
