@import "../../../assets/styles/tools/mixins";
@import "../../../assets/styles/settings/vars";
@import "../../../assets/styles/settings/spacing";

// Category slider
.category-slider {
	.headline-2 {
		margin-bottom: spacing(component, xl);
		opacity: 0;
		transform: translateY(50px);
		transition: all $transition;
	}

	// Swiper overrides
	.swiper {
		overflow: visible;
		opacity: 0;
	}

	.swiper-slide {
		max-width: 200px;
		opacity: 0;
		transform: translateY(20px);
	}

	.swiper-wrapper {
		/* stylelint-disable-next-line unit-no-unknown */
		padding-bottom: spacing(component, 2xl);
	}

	.swiper-scrollbar {
		right: 50%;
		left: 50% !important; // overrides
		width: 60% !important; // overrides
		opacity: 0;
		transform: translateX(-50%);
		transition: opacity $transition;
	}

	.tabs__list {
		opacity: 0;
		transition: opacity $transition transform $transition--extra-fast;
	}

	// Slider animation
	&.animation-active {
		.swiper {
			opacity: 1;
		}

		.headline-2 {
			opacity: 1;
			transform: translateY(0);
		}

		.tabs__list {
			opacity: 1;
			transform: translateY(0);
		}

		.swiper-scrollbar {
			opacity: 1;
		}

		.swiper-slide {
			opacity: 1;
			transform: translateY(0);
			transition: all $transition;
		}
	}
}

@include viewport-small {
	.category-slider {
		.headline-2 {
			/* stylelint-disable-next-line unit-no-unknown */
			margin-bottom: spacing(component, 3l);
		}

		.swiper-wrapper {
			/* stylelint-disable-next-line unit-no-unknown */
			padding-bottom: spacing(component, 2l);
		}

		.swiper-scrollbar {
			width: calc(100% - 4rem);
		}
	}
}
