@import "../../../assets/styles/settings/vars";

.filter-list {
	overflow: hidden;
	border-bottom: 0.1rem solid $color-gray-mischka-tint--70;
	transition: height $transition--fast;

	&__button {
		text-transform: capitalize;
	}

	&__button-icon {
		width: 1rem;
		height: 1rem;
		transform: rotate(90deg) scaleX(1);
		transition: transform $transition--fast;
	}

	&__button-icon.is-open {
		transform: rotate(90deg) scaleX(-1);
	}
}
