@import "../../../assets/styles/tools/mixins";
@import "../../../assets/styles/settings/vars";
@import "../../../assets/styles/settings/fonts";
@import "../../../assets/styles/settings/spacing";

.pricing-section {
	opacity: 0;
	transform: translateX(1.5rem);
	transition: $transition--fast;

	&.animation-active {
		opacity: 1;
		transform: translateX(0);
		transition: $transition--fast;
	}
}

.model-pricing {
	border: solid 1px $color-gray-mischka-tint--60;

	a,
	span {
		color: $color-blue-shark;

		&::after {
			background-color: $color-blue-shark;
		}
	}

	&__icon {
		width: 1.6rem;
		height: 2rem;
		fill: $color-blue-shark;
	}

	&__finance-link {
		margin-bottom: 3.6rem;
	}

	.btn-primary,
	.btn-secondary {
		width: 100%;
		min-width: 21rem;
	}
}

@include viewport-medium {
	.model-pricing {
		&__btn-wrapper {
			flex-direction: column;
		}

		&__finance-link {
			margin-bottom: 3.2rem;
		}
	}
}
