.border-bottom {
	border-bottom: 0.1rem solid;

	&--gray {
		border-color: $color-gray-athens;
	}

	&--mischka-60 {
		border-color: $color-gray-mischka-tint--60;
	}

	&--mischka-20 {
		border-color: $color-gray-mischka-tint--20;
	}
}

.border-top {
	border-top: 0.1rem solid;

	&--gray {
		border-color: $color-gray-athens;
	}

	&--mischka-20 {
		border-color: $color-gray-mischka-tint--20;
	}
}

.border-left {
	border-left: 0.1rem solid;

	&--gray {
		border-color: $color-gray-athens;
	}

	&--mischka-20 {
		border-color: $color-gray-mischka-tint--20;
	}
}
