/* stylelint-disable unit-no-unknown */
.filter-search-box {
	height: 5rem;
	color: $color-blue-shark;

	input {
		@include text-small-small-line-height;
		background-color: $color-gray-mischka-tint--10;
		height: 5rem;
		padding-left: 6.5rem;
		padding-right: 5rem;
		border: 1px solid $color-gray-mischka;

		&::placeholder {
			color: $color-blue-shark-tint--60;
		}
	}

	.ais-SearchBox-submit {
		width: 4.5rem;
	}

	.ais-SearchBox-reset {
		right: 2.2rem;
	}

	&__icon {
		width: 2rem;
		height: 2rem;
		/* stylelint-disable-next-line unit-no-unknown */
		margin-left: spacing(component, 2l);
		fill: $color-blue-shark;
	}
}

%clear-styling {
	// overwrite algolia defaults
	height: 3.2rem !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	border: 0.1rem solid $color-blue-shark-tint--50 !important;
	border-radius: 0.4rem !important;
	background-color: $color-white !important;
	color: $color-blue-shark !important;

	a {
		color: $color-blue-shark !important;
	}

	svg {
		width: 1.2rem;
		height: 1.2rem;
	}
}

.filter-current-refinement {
	background-color: transparent;
	padding: 0;

	a {
		color: $color-blue-shark;
	}

	svg {
		width: 0.9rem;
		height: 0.9rem;
	}
}

// overwrite default algolia
.ais-CurrentRefinements {
	margin-top: 0 !important;
}

.ais-CurrentRefinements-category {
	@extend %clear-styling;
	margin-right: spacing(component, l);
}

.filter-current-refinement-label {
	display: none;
}

// overwrite default algolia;
.ais-ClearRefinements,
.ais-CurrentRefinements {
	display: inline-flex;
}

.ais-ClearRefinements-button {
	@extend %clear-styling;

	margin-right: spacing(component, l);

	&:disabled {
		display: none;
	}
}

.filter-no-result {
	&__icon {
		width: 8.8rem;
		height: 8.8rem;
		fill: $color-blue-shark;
	}
	&__text,
	&__headline {
		text-align: center;
	}
}

.filter-sort-by-wrapper {
	position: relative;
}

.sort-by-arrow {
	width: 1.2rem;
	height: 1.2rem;
	transform: rotate(90deg) scale(1);
	transition: transform $transition--extra-fast;

	&.is-active {
		transform: rotate(90deg) scale(-1);
	}
}

.filter-sort-by {
	position: absolute;
	right: 0;
	opacity: 0;
	pointer-events: none;
	top: 3rem;
	background-color: $color-white;
	border-radius: 5px;
	z-index: 5;
	width: 18rem;
	box-shadow: 0 0.8rem 2.4rem 0 $color-blue-shark-tint--20;
	transition: opacity $transition--extra-fast;

	&__item {
		cursor: pointer;
	}

	&.is-active {
		opacity: 1;
		pointer-events: all;
	}
}

@include viewport-medium {
	/* stylelint-disable unit-no-unknown */
	.filter-search-box {
		height: 5rem;

		input {
			color: $color-blue-regal-shade--20;
			font-size: 1.4rem;

			&::placeholder {
				color: $color-blue-shark-tint--60;
			}
		}

		&__icon {
			width: 2rem;
			height: 2rem;
			/* stylelint-disable-next-line unit-no-unknown */
			margin-left: spacing(component, 2l);
			fill: $color-blue-shark;
		}
	}

	.filter-sort-by {
		position: fixed;
		bottom: 0;
		pointer-events: none;
		top: 100%;
		background-color: $color-white;
		border-radius: 0.5rem 0.5rem 0 0;
		z-index: 5;
		opacity: 1;
		width: 100%;
		box-shadow: 0 0.8rem 2.4rem 0 $color-blue-shark-tint--20;
		z-index: 100;
		transition: top $transition--fast;

		&__item {
			cursor: pointer;
			font-size: 1.6rem;
			line-height: normal;
			margin-bottom: 0;
			border-bottom: 0.1rem solid $color-gray-mischka-tint--70;
		}

		&__item.is-active {
			font-weight: 500;
			color: $color-blue-regal;
		}

		&__checkmark {
			fill: $color-blue-regal;
			width: 1.6rem;
			height: 1.6rem;
			opacity: 0;
			transition: opacity $transition--fast;
		}

		&__checkmark.is-active {
			opacity: 1;
		}

		&__header {
			position: relative;
		}

		&__close {
			width: 2rem;
			height: 2rem;
			position: absolute;
			left: 0rem;
		}

		&.is-active {
			opacity: 1;
			pointer-events: all;
			top: calc(100% - 450px);
		}
	}
	.filter-sort-by-backdrop {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: $color-blue-shark;
		opacity: 0;
		pointer-events: none;
		transition: opacity $transition--extra-fast;
		z-index: 99;

		&.is-active {
			opacity: 0.6;
			pointer-events: all;
		}
	}
}
