.search-bar {
	@include font-aktiv-grotesk;

	display: flex;
	height: 5rem;
	padding: 0 2.4rem;
	align-items: center;
	border: solid 1px $color-gray-mischka;
	border-radius: 0.6rem;
	background-color: $color-gray-mischka-tint--10;
	color: $color-blue-shark-tint--60;

	svg {
		width: 2rem;
		height: 2rem;
		margin-right: 2rem;
		fill: $color-blue-shark;
	}

	input {
		width: calc(100% - 4rem);
		border: none;
		outline: none;
		background: transparent;
		font-size: clamp(1.4rem, rem-to-vw(1.4rem), 1.4rem);
		line-height: clamp(1.4rem, rem-to-vw(1.4rem), 1.4rem);
	}
}
