.simple-modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	padding-right: calc($gutter-default * 2);
	padding-left: calc($gutter-default * 2);
	background-color: rgba($color-blue-shark-shade--20, 0.9);

	&__content {
		position: relative;
		max-width: 46.6rem;
		border-radius: 1rem;
		background-color: $color-white;
	}

	&__close {
		position: absolute;
		top: 1.6rem;
		right: 1.6rem;
		width: 2rem;
		height: 2rem;
		cursor: pointer;
	}

	&__text {
		color: $color-blue-shark-tint--80;
	}

	&--full-size {
		.simple-modal__content {
			max-width: unset;
			height: 90vh;
			background-color: $color-gray-mischka-tint--20;
		}
	}
}

.simple-modal-full-size {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	padding-right: calc($gutter-default * 2);
	padding-left: calc($gutter-default * 2);
	background-color: rgba($color-blue-shark-shade--20, 0.9);

	&__content {
		position: relative;
		height: 95vh;
		border-radius: 1rem;
		background-color: $color-white;
	}

	&__confirm {
		max-width: 600px;
	}

	&__confirm-icon {
		width: 8.8rem;
		height: 8.8rem;
	}

	&__close {
		position: absolute;
		top: 1.6rem;
		right: 1.6rem;
		width: 2rem;
		height: 2rem;
		cursor: pointer;
	}

	&__text {
		color: $color-blue-shark-tint--80;
	}
}

@include viewport-medium {
	.simple-modal {
		padding-right: calc($gutter-mobile * 2);
		padding-left: calc($gutter-mobile * 2);
	}

	.simple-modal-full-size {
		padding-right: 0;
		padding-left: 0;

		&__content {
			height: 100%;
		}
	}
}
