@import "../../../assets/styles/tools/mixins";
@import "../../../assets/styles/settings/vars";
@import "../../../assets/styles/settings/fonts";
@import "../../../assets/styles/settings/spacing";

.model-banner {
	@include grid-1440;

	position: fixed;
	top: 8.9rem;
	left: 50%;
	z-index: 9;
	padding-bottom: spacing(component, xl);
	overflow: hidden;
	transform: translate3d(-50%, -100%, 0);
	transition: transform $transition;

	&__content {
		border-bottom-right-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
		background-color: $color-white;
		box-shadow: 0 1.5rem 1.5rem 0 $color-blue-shark-tint--30;
	}

	&__img {
		width: 10.6rem;
		height: 6.8rem;
	}

	&.is-active {
		transform: translate3d(-50%, 0, 0);
		transition: transform $transition;
	}
}

@include viewport-medium {
	.model-banner {
		top: 5.4rem;

		&__content {
			justify-content: center;
		}

		.btn-primary,
		.btn-secondary {
			padding-right: spacing(component, xs);
			padding-left: spacing(component, xs);
			font-size: 1.4rem;
		}

		.button-wrapper {
			width: 100%;
			gap: 1.2rem;
		}

		.button-wrapper button {
			width: 100%;
		}
	}
}
