@import "../../../assets/styles/settings/vars";
@import "../../../assets/styles/tools/mixins";

.range-input {
	position: relative;
	margin-right: -1rem;

	label {
		font-size: 1.2rem;
		font-weight: 500;
		text-transform: none;
		line-height: 1.1rem;
	}

	&__item {
		width: 12rem;
		height: 4rem;
		padding-right: 3.5rem;
		border: 1px solid $color-gray-mischka;
		border-radius: 0.4rem;
		color: $color-blue-shark-tint--60;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			margin: 0;
			appearance: none;
		}
	}

	&__unit {
		position: absolute;
		right: 3.5rem;
		bottom: 1rem;
		color: $color-blue-shark-tint--60;
	}

	&__item::placeholder {
		color: $color-blue-shark-tint--60;
	}

	&__item:focus,
	&__item:focus + .range-input__unit {
		color: $color-blue-shark-shade--10;
	}
}

@include viewport-medium {
	.range-input-wrapper {
		justify-content: center;
	}
}
