@import "../../../../assets/styles/tools/mixins";
@import "../../../../assets/styles/settings/vars";
@import "../../../../assets/styles/settings/spacing";
@import "../../../../assets/styles/settings/fonts";

.address-block {
	min-width: 50%;
	margin-right: spacing(component, xs);
	border: solid 0.1rem $color-gray-mischka-tint--60;
	background-color: $color-gray-mischka-tint--30;
	gap: spacing(component, xl);

	a::after {
		background-color: $color-blue-regal;
	}
}

@include viewport-medium {
	.address-block {
		margin-right: 0;
		margin-bottom: spacing(component, l);
		flex-direction: column;
	}
}
