@import "../../../assets/styles/settings/vars";
@import "../../../assets/styles/tools/mixins";

.filter-list-item {
	&__checkbox {
		position: relative;
		width: 2rem;
		height: 2rem;
		border: 0.1rem solid $color-gray-mischka;
		background-color: $color-gray-mischka-tint--10;
		transition: background-color $transition--extra-fast;
	}

	&__checkbox svg {
		position: absolute;
		width: 1.1rem;
		height: 0.8rem;
		opacity: 0;
		fill: $color-white;
		transition: opacity $transition--extra-fast;
	}

	&__value {
		color: $color-blue-shark-tint--80;
	}

	&__count {
		color: $color-blue-shark-tint--60;
	}

	&__checkbox.is-active svg {
		opacity: 1;
	}

	&__checkbox.is-active:not(.is-color-checkbox) {
		background: linear-gradient(182.68deg, #16a2ff 0%, #004878 100%);
	}

	&__checkbox-mobile {
		display: none;
	}
}

.mobile-color-box {
	display: none;
	position: relative;
	width: 2rem;
	height: 2rem;
}

@include viewport-medium {
	.filter-list-item {
		height: 5.5rem;
		margin-bottom: 0;
		border-top: 0.1rem solid $color-gray-mischka-tint--20;

		&:nth-last-of-type(1) {
			border-bottom: 0.1rem solid $color-gray-mischka-tint--20;
		}

		a {
			display: flex;
			height: 100%;
			align-items: center;
			justify-content: space-between;
		}

		&__checkbox-mobile {
			display: initial;
			width: 1.4rem;
			height: 1.2rem;
			opacity: 0;
			fill: $color-blue-regal;
			transition: opacity $transition--extra-fast;
		}

		&__value {
			color: $color-blue-shark;
			font-size: 1.6rem;
			font-weight: 500;
			line-height: 2.2rem;
		}

		&__count {
			color: $color-blue-shark-tint--60;
			font-size: 1.4rem;
			font-weight: 400;
			line-height: 1.4rem;
		}

		&__checkbox {
			display: none;
		}
	}

	.filter-list-item.is-active {
		.filter-list-item__value {
			color: $color-blue-regal;
		}

		.filter-list-item__checkbox-mobile {
			opacity: 1;
		}
	}

	.mobile-color-box {
		display: inline-block;
	}
}
