@import "../../../../assets/styles/settings/vars";
@import "../../../../assets/styles/settings/fonts";
@import "../../../../assets/styles/tools/mixins";
@import "../../../../assets/styles/settings/spacing";

.accordion-wrapper {
	width: 100%;
	max-height: 8rem;
	overflow: hidden;
	border: 1px solid $color-gray-mischka;
	border-radius: 0.3rem;
	transition: max-height $transition--fast;

	.accordion-item {
		all: unset;
		display: flex;
		box-sizing: border-box;
		width: 100%;
		padding: spacing(component, 3l) spacing(component, 2l);
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
	}

	.accordion-item__icon {
		display: inline-block;
		width: 2rem;
		height: 2rem;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		transition: clip-path $transition--fast;
	}

	.accordion-item__icon.is-open {
		clip-path: polygon(0 9px, 100% 9px, 100% 10.5px, 0 10.5px);
	}

	.accordion-content {
		@include text-default;

		padding: 0 spacing(component, 2l) spacing(component, 3l);
	}

	&:not(.is-selected) {
		background-color: $color-gray-mischka-tint--10;
	}
}

@include viewport-medium {
	.accordion-wrapper {
		max-height: 5.4rem;

		.accordion-item {
			padding: spacing(component, s);

			&__icon {
				width: 1.6rem;
				min-width: 1.6rem;
				height: 1.6rem;
				min-height: 1.6rem;
			}

			&__icon.is-open {
				clip-path: polygon(0 8px, 100% 8px, 100% 9px, 0 9px);
			}
		}

		&.is-selected {
			.accordion-content {
				padding: 0 spacing(component, s) spacing(component, 2l);
			}
		}
	}
}
